.buttonMarvel {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/64px-Marvel_Logo.svg.png");
    background-repeat: no-repeat;
    height: 32px;
    width: 64px;
    margin: 0.2rem;
    background-color: red;
    cursor: pointer;
}

.buttonImdb {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/IMDB_Logo_2016.svg/64px-IMDB_Logo_2016.svg.png");
    background-repeat: no-repeat;
    height: 32px;
    width: 64px;
    margin: 0.2rem;
    cursor: pointer;
}
