#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.title {
  height: 60px;
}

.card {
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 44%;
  border: solid 1px #aaa;
  border-radius: 1rem;
  margin: 8px;
}

.cardBox {
  display: flex;
  flex-wrap: wrap;
}

.read-the-docs {
  color: #888;
}

.top {
  display: flex;
  flex-direction: column;
  max-width: fit-content;
  justify-content: center;
  align-items: center;
}
.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overviewBox {
  min-height: 150px;
  height: 150px;
  overflow: auto;
  text-overflow: ellipsis;
}
.selected {
  background-color: #646cffaa;
  border: 2px solid #646cff;
  margin: 1rem 1rem 1rem 8px;
}
.default {
  background-color: rgba(0, 0, 0, 0.87);
  margin: 1rem 1rem 1rem 8px;
}
.buttons {
  display: flex;
  align-items: center;
  flex-direction: row
}

.appOrderBy {
  font-size: 0.75rem;
}
.appImg {
  width: 80%;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .card {
    max-width: 23%;
  }
}
